{% extends 'myportfolio_app/base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}
<div class="articles-page">
    <h1 class="page-title">Мои статьи</h1>

    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        {% if "Проект успешно добавлен!" not in message %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Форма поиска -->
    <div class="search-container">
        <form method="get" action="{% url 'myportfolio_app:articles' %}">
            <input
                    type="text"
                    name="query"
                    placeholder="Введите запрос для поиска..."
                    value="{{ request.GET.query }}"
                    class="search-input"
            >
            <button type="submit" class="button-search">Поиск</button>
        </form>
    </div>

    <!-- Результаты поиска -->
    {% if request.GET.query %}
    <p class="search-results">Результаты поиска по запросу: <strong>{{ request.GET.query }}</strong></p>
    {% endif %}

     <div class="articles-container">
        {% for article in articles %}
        <div class="article-item">
            <h2 class="article-title">{{ article.title }}</h2>
            <p class="article-excerpt">{{ article.content|truncatewords:30 }}</p>
            <a href="{% url 'myportfolio_app:article_detail' article.id %}" class="button-read-more">Подробнее</a>
        </div>
        {% empty %}
        <p class="no-articles">На данный момент статей нет.</p>
        {% endfor %}
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
{% endblock %}