{% extends 'myportfolio_app/base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<article class="article-detail">
    <h1 class="page-title">{{ article.title }}</h1>

    <div class="article-content">
    {% if article.image %}
        <div class="article-image">
            <img src="{{ article.image.url }}" alt="{{ article.title }}"
                 style="width: 100%; max-width: 600px; height: auto; border-radius: 8px;">
        </div>
    {% endif %}
    {{ article.description|linebreaks}}
    </div>

    {% if article.description or article.link %}
    <div class="article-description">
        {% if article.description %}
        <p>{{ article.description }}</p>
        {% endif %}

        {% if article.link %}
        <p>
            <a href="{{ article.link }}" target="_blank" class="button-link">Перейти по ссылке</a>
        </p>
        {% endif %}
    </div>
    {% endif %}

    <div class="article-back">
        <a href="{% url 'myportfolio_app:articles' %}" class="button-back">Назад к списку статей</a>
    </div>
</article>
{% endblock %}