<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Женя топчик{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <nav>
        <ul class="nav-list">
            <li class="{% if request.resolver_match.url_name == 'myportfolio_app:home' %}active{% endif %}">
                <a href="{% url 'myportfolio_app:home' %}">Главная</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'myportfolio_app:projects' %}active{% endif %}">
                <a href="{% url 'myportfolio_app:projects' %}">Проекты</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'myportfolio_app:articles' %}active{% endif %}">
                <a href="{% url 'myportfolio_app:articles' %}">Статьи</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'myportfolio_app:contact' %}active{% endif %}">
                <a href="{% url 'myportfolio_app:contact' %}">Контакт</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Выйти</a>
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                    {% csrf_token %}
                </form>
            </li>
            {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    <!-- Блок для отображения изображений -->
    {% block media %}
    {% if image|default:'' %}
    <div class="media-container">
        <img src="{{ image.url }}" alt="Медиафайл" class="media-image">
    </div>
    {% endif %}
    {% endblock %}

    <!-- Основной контент страницы -->
    {% block content %}
    <p>Содержимое будет здесь.</p>
    {% endblock %}
</main>

<footer>
    <p>&copy; 2025 Женька навел грязь!.</p>
</footer>
</body>
</html>